ul{
    list-style: none;
    display: flex;
    gap:20px;
    justify-content: end;
    margin-right:50px;
    
}
a{
    text-decoration: none;
    color:#EEEEEE;
}
*{
    margin:0px;
    padding:0px;
    color:white;
    
font-family: 'Roboto Condensed', sans-serif;
} 
body{
    background-color: #222831;
}
header{
    background-color:#393E46;
    padding-top:25px;
    padding-bottom: 25px;
}

#beta{
    display: flex;
    justify-content: center;
    color:white;
    margin-top:100px;
} button{
  
   height:30px;
   width: 100px;
   background-color: #00ADB5;
   border-radius: 8px;
   border:none;
   color:white;
}#welcome{
    background-color:#00ADB5 ;
    height:30px;
    color:white;
    width: 500px;
    display: flex;
    justify-content: center;
    margin-left:700px;
    margin-top:50px;
    border-radius:8px;
    padding:10px;

}#forms{
   text-align: center;
   margin-top:200px;
   border:solid black;
   height:300px;
   width: 300px;
   margin-left:800px;
   border-radius: 8px;
   color:white;
   background-color: #393E46;
}
.beta{
    margin-left:880px;
    margin-top:25px;
}.left{
    margin-right:240px;
}#welcome-message{
    color:white;
    display:flex;
    justify-content: end;
    margin-right:100px;
} 
#box{
    border:solid 10px black;
    height:1000px;
    width:800px; 
    display:flex;
    justify-content: center; 
    margin: 50px;
    margin-left:30px;
    border-radius: 8px;
} #block1{
    border:solid 10px black;
    display:flex;
    justify-content: center;; 
    height:300px;
    width:400px;
    border-radius: 8px;
    color:white;
    margin-left:500px;
}#postTitle{
    margin-right:100px; 
    border-radius: 8px;
    color:black;

}#postContent{
    border-radius: 8px;
    padding-right:100px;
    margin-right:100px;
    color:black;
}